*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #0F0;
}

.container {
  margin-top: 100px;
}

.outer-shell {
  width: 500px;
  height: 200px;
  margin: auto;
  padding: 1px;
  background-color: #333;
}

.inner-shell{
  width: 400px;
  height: 155px;
  margin: auto;
  margin-top: 5px;
  background-color: #000;
}

.left-labels{
  color: #FFF;
  width: 50px;
  height: 100px;
  margin-top: 25px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.left-labels>li, .ampm>li{
  color: white;
  list-style-type: none;
  font-size: 12px;
  width: auto;
  height: 50px;
  padding: 5px 0;
  text-align: right;
}

.clock-screen {
  background-color: rgba(200, 0, 0, .5);
  width: 320px;
  height: 100px;
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  margin-top: 10px;
}

.ampm, .clock-text {
  color: #F00;
  display: inline-block;
  vertical-align: top;
  padding: 0;
}

.ampm>li{
  font-size: 30px;
  text-align: left;
  color: #F00;
}

.clock-text{
  width: 268px;
  height: 90px;
  text-align: center;
  line-height: 90px;
  font-size: 90px;
  margin-left: 20px;
  letter-spacing: 7px;
}